/*
 Theme Name:   FeniNews Child
 Theme URI:    http://fenionline.net
 Description:  theme for FeniNews
 Author:       Fenionline.net
 Author URI:   http://Fenionline.net
 Template:     FeniNews
 Version:      1.0.0
 Tags:         News
 Text Domain:  http://fenionline.net
*/


@import url("../FeniNews/style.css");


/* =Theme customization starts here
-------------------------------------------------------------- */

body {
    font: 14px/1.5 'SolaimanLipiNormal',"Open Sans",Arial,Vrinda,FallbackBengaliFont,Helvetica,sans-serif;
    text-rendering: optimizelegibility;
}